#visualiser {
  margin: auto;
  width: 90%;
  height: 90%;
}

#nodeInfo {
  color: darkgrey;
  font-size: 1.3vw;
}
.row {
  width: 100%;
  text-align: center;
  display: block;
}

.column {
  height: 100%;
  display: inline-block;
  background: none;
}

#grid {
  width: 100%;
  height: 90%;
}

#legend {
  width: 100%;
  display: inline-block;
}

.displayNode {
  width: 2vw;
  height: 2vw;
  display: inline-block;
}

.legendInfo {
  display: inline;
  font-size: 1.3vw;
}

dd {
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .legendInfo {
    font-size: 3vw;
  }
  .displayNode {
    display: flex;
  }
}
