#visualiser {
  margin: auto;
  width: 90%;
  height: 90%;
  outline: 3px solid black;
}

#nodeInfo {
  outline: 1px black;
}
.row {
  width: 100%;
  text-align: center;

  display: block;
}

.column {
  height: 100%;
  display: inline-block;
  background: none;
  font: inherit;
}

#grid {
  width: 100%;
  height: 90%;
}
