* {
  text-align: center;
  transition: background-color 0s ease, color 0s ease;
}

.node:hover {
  background-color: yellow;
  color: black;
}
.node {
  outline: 3px solid black;
  width: 100%;
  height: 100%;
}

.wall {
  background-color: black;
  color: white;
}

.start {
  background-color: green;
}

.end {
  background-color: red;
}

.path {
  background-color: gray;
}

.closed {
  background-color: yellow;
}

.open {
  background-color: blue;
}
