* {
  text-align: center;
}

.node:hover {
  background-color: yellow;
  color: black;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.node {
  border: 3px solid black;
}

.start {
  background-color: green;
}

.end {
  background-color: red;
}
.wall {
  background-color: black;
  color: white;
}
