* {
  text-align: center;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.node:hover {
  background-color: yellow;
  color: black;
}
.node {
  border: 3px solid black;
}

.wall {
  background-color: black;
  color: white;
}

.start {
  background-color: green;
}

.end {
  background-color: red;
}

.path {
  background-color: gray;
}

.selected {
  background-color: yellow;
}

.traversed {
  background-color: blue;
}
